<html>
    <head>
        <title>History</title>
        <link rel="stylesheet" href="chat.css">
        <script defer src="http://localhost:3001/socket.io/socket.io.js"></script>
        <script defer src="scriptHistory.js"></script>
    </head>
    <body>
        <H1>History of the Chat</H1>
        <div id="message-container"></div>
    </body>
</html>
