<html>
  <head>
    <link rel="stylesheet" href="chat.css">
  </head>
<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
</html>