<html>
    <head>
        <title>History</title>
        <link rel="stylesheet" href="chat.css">
        <script defer src="http://localhost:3001/socket.io/socket.io.js"></script>
        <script defer src="scriptUnauthorized.js"></script>
    </head>
    <body>
        <H1>chat</H1>
        <div id="message-container"></div>
        <form action="/login">
            <button type="submit" class="history">login</button>
        </form>
    </body>
</html>
